<input class="form-control" placeholder="{{placeholder}}" [(ngModel)]="value">
<!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&euro;</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">&euro;</a>
        <a class="dropdown-item" href="#">$</a>
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
    <input class="form-control" placeholder="{{placeholder}}" [(ngModel)]="value" aria-label="Amount to Exchange">
  </div> -->
<!--
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div>
</div> -->
